@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --highlight: #fe217d;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

#debug {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  height: 100vh;
}

#system {
  padding-top: 20rem;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  z-index: 1000;
}

header .logo {
  font-size: 3.5rem;
  color: var(--black);
  font-weight: bolder;
  text-decoration: none;
  font-family: "Pacifico", handwriting;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
  text-decoration: none;
}

header .navbar a:hover {
  border-bottom: 4px solid var(--highlight);
}

header .icons div {
  background-color: #eee;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
  line-height: 45px;
  color: var(--black);
  margin-left: 3px;
  cursor: pointer;
}

header .icons div:hover {
  background-color: var(--highlight);
  color: #fff;
}

.submenu {
  position: relative;
}

.submenu:hover ul {
  display: block;
  position: absolute;
}

.submenu ul {
  display: none;
  background-color: var(--highlight);
  top: 50px;
  left: 0;
  width: 15rem;
}

.navbar {
  display: none;
}
