@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --highlight: #28e0d7;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  --saturn-yellow: #e4a84b;
  --cta-bg: #f1482a;
  --card-bg: #1a1f36;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
  color: var(--text-color);
}

main {
  overflow-x: hidden;
}

section {
  margin: 0 auto;
  height: fit-content;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--card-bg);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
    }
    
    .navbar ul a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.25rem;
  transition: color 0.3s;
font-size: 1rem;
  }

.navbar ul a:hover {
  color: var(--saturn-yellow);
  background: linear-gradient(to right, #422d04, #ff6b08, #eedd44, #eecfa1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#hero {
  padding-top: 7rem; /* Adjust for navbar height */
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.system {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 15rem;
  padding: 2rem 0;
  transform: translateX(80px);
}

.hero-content {
  text-align: center;
  /* justify-content: center;
  align-items: center; */
  margin-top: 10rem;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 3rem;
  color: var(--saturn-yellow);
  margin: 1rem auto;
  margin-top: 1rem;
  background: linear-gradient(to right, #422d04, #ff6b08, #eedd44, #eecfa1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #180158, #2038a0, #ffffff, #c3f0ed);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: #28e0d7;
}

span{  background: linear-gradient(to right, #614308, #ff6b08, #eedd44, #eecfa1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;}

.hero-content p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 1rem auto;
  margin-bottom: 1rem;
}

.cta-button {
  font-size: 1.5rem;
  color: white;
  background-color: var(--cta-bg);
  margin-top: 5rem;
  padding: 2rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--highlight);
}

/* Features Section */
#features,
#gallery,
#science,
#reviews,
#community {
  padding: 2rem 1rem;
  text-align: center;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.feature-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 300px;
  box-shadow: var(--box-shadow);
  text-align: left;
  box-shadow: 5px 2px 20px 1px #4ae0d6;
}

.feature-card h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--saturn-yellow);
}

.feature-card p {
  font-size: 1rem;
  color: var(--light-color);
}

/* Gallery Section */

.gallery-carousel {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  gap: 1rem;
}

.gallery-carousel img {
  max-height: 600px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  align-items: center;
}

/* Science Section */

#science p {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#science img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

/* Reviews Section */

.reviews-slider {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-size: 1.25rem;
  color: var(--light-color);
  box-shadow: 5px 1px 15px 2px #4ae0d6;
}

/* Community Section */

#community p {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-bottom: 1.5rem;
}

#community p {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.cta-button {
  font-size: 1.5rem;
  color: white;
  background-color: var(--cta-bg);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 9px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--highlight);
}

footer img{
  background-color: var(--card-bg);
  position: static;
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  
}
@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.25rem;
  }

  .feature-cards {
    flex-direction: row;
    gap: 10rem;
    margin: 1rem auto;
  }

  .gallery-carousel img {
    max-width: 30%;
  }

  .reviews-slider{
    flex-direction: row;
  }
  .review {
    margin: 1rem auto;
    width: 30%;
  }

  .navbar ul{
    gap: 4rem;
    
    }
    
    .navbar ul a{
    font-size: 3rem;

  }
  .gallery-carousel {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
  }

  footer{
    width: 100%;;
    height: 60%;
    font-size: 2rem;
 }

 .cta-button{
  width: 6rem;
 }
}
